[Unit]
Description=Etherpad-lite, the collaborative editor.
After=syslog.target network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
ExecStartPre=__NODEJS__
Environment="PATH=__ENV_PATH__"
ExecStart=__FINALPATH__/bin/safeRun.sh /var/log/__APP__/etherpad.log
Restart=always

[Install]
WantedBy=multi-user.target
